*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}
#menu ul{
    max-width: 1000px;
    list-style: none;
    padding: 0;
    background-color: #787878;
}
#menu ul li{
    display: inline;
    padding: 40px;
}
#menu ul li a{
    color: #fff;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    transition: background .6s;
}
#menu ul li a:hover{
    background-color: rgb(15, 178, 207);
}
body{
    background: #bdc3c7;
}
#banner{
    width: 1000px;
    height: 300px;
    padding: 1px;
    float: center;
    border: 0 solid;
}
#logo{
    width: 100px;
    height: 100px;
    padding: 1px;
    float: right;
    border: 0 solid;
}
h1{
    color: rgb(43, 37, 37);
    text-align: center;
    text-transform: uppercase;
    background-color: #bdc3c7;
    border: 5px solid rgb(8, 8, 8);
    margin: 30px 100px 60px 20px;
    padding: 50px 0;
 }
#texto{              
    width: 500px;
    height: 420px;
    background-color: #f4f6f8;
    padding: 50px;
    float: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid rgb(8, 8, 8);
}
#imagem{
    width: 300px;
    height: 500px;
    padding: 70px;
    float: left;
    border-radius: 5px;
    border: 5px solid rgb(rgb(10, 10, 10);
}